$color-button-bg: red;
$color-button-hover-bg: #ff7a00;


.recent-orders-wrapper {
	background-color: #fff;
	box-shadow: 0px 3px 35px 0px;
	border-color: #eee;
	border-radius: 12px;
	padding: 15px;
	
	.heading {
		padding-left: 20px;
    padding-right: 20px;
		position: relative;
		
		.header-container {
			display: inline-block;
			width: 50%;
		}
		
		.search-container {
			display: inline-block;
			width: 50%;
			max-width: 300px;
			position: absolute;
			right: 10px;
			text-align: right;
			padding-top: 8px;
			
			input {
				border-radius: 10px;
				display: inline;
				width: 55%;
				margin-right: 4px;
			}
			
			.btn {
				border-radius: 10px;
				background-color: $color-button-bg;
				color: black;
				width: 42px;
				height: 42px;
				padding-top: 6px;
			}
			
			#order-search-trigger:hover {
				background-color: $color-button-hover-bg;
			}
			
			#search-loader {
				display:none;
				width: 42px;
				height: 42px;
				margin: 0 auto;
				cursor: progress;
				
				img {
					width: 30px;
				}
			}
			
			
		}
	}

	.showmore-container {

		text-align: center;
		padding-top: 30px;
		padding-bottom: 10px;

		.btn {
			background-color: $color-button-bg;
			border-radius: 12px;
			min-width: 200px;
			font-size: 1.2em;
			height: 45px;
			
			img {
				height: 30px;
			}
		}
		
		.btn:hover {
			background-color: $color-button-hover-bg;
		}
		
		#show-more-loader {
			display:none;
			max-width: 20%;
			margin: 0 auto;
			cursor: progress;
		}
	}
	
	.content-container {
		padding-left: 20px;
    padding-right: 20px;	
	}
	
	#recent-orders .recent-order-rows,
	#found-orders .found-order-rows {
    display: grid;
    grid-gap: 10px 0px;
    grid-template-columns: repeat(4, 1fr);
    font-family: 'Roboto';
    font-size: 1.2em;
    margin-bottom: 20px;
		
		a {
			text-decoration: none;
			color: red;
		}
		
		div {
			border: none;
			border-bottom: 1px solid #ccc;
			padding: 10px;
		}
		
		
		@media (max-width: 699px) {

			div.order-name {
				grid-column: 1/5;
			}

			div.order-id {
				grid-column: 1/2;
			}

			div.order-total {
				grid-column: 2/3;
			}

			div.order-invoice {
				grid-column: 3/4;
			}

			div.order-link {
				grid-column: 4/5;
			}
		}
		
		@media (min-width: 700px) {

			div.order-name {
				grid-column: 1/4;
			}

			div.order-id {
				grid-column: 4/4;
			}

			div.order-total {
				grid-column: 5/5;
			}

			div.order-invoice {
				grid-column: 6/6;
			}

			div.order-link {
				grid-column: 7/7;
			}
		}
		
		
		
	}
	
	@media (max-width: 699px) {	
		#recent-orders .recent-order-rows,
		#found-orders .found-order-rows {
			font-size: 0.8em;
		}
	}
	
	@media (max-width: 899px) {
			
			#recent-orders .recent-order-rows,
			#found-orders .found-order-rows {
				font-size: 1em;
			}
			
			#orders-header {
				font-size: 1.2em;
			}
		}
	
}