.recent-orders-wrapper {
  background-color: #fff;
  box-shadow: 0px 3px 35px 0px;
  border-color: #eee;
  border-radius: 12px;
  padding: 15px;
}
.recent-orders-wrapper .heading {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.recent-orders-wrapper .heading .header-container {
  display: inline-block;
  width: 50%;
}
.recent-orders-wrapper .heading .search-container {
  display: inline-block;
  width: 50%;
  max-width: 300px;
  position: absolute;
  right: 10px;
  text-align: right;
  padding-top: 8px;
}
.recent-orders-wrapper .heading .search-container input {
  border-radius: 10px;
  display: inline;
  width: 55%;
  margin-right: 4px;
}
.recent-orders-wrapper .heading .search-container .btn {
  border-radius: 10px;
  background-color: red;
  color: black;
  width: 42px;
  height: 42px;
  padding-top: 6px;
}
.recent-orders-wrapper .heading .search-container #order-search-trigger:hover {
  background-color: #ff7a00;
}
.recent-orders-wrapper .heading .search-container #search-loader {
  display: none;
  width: 42px;
  height: 42px;
  margin: 0 auto;
  cursor: progress;
}
.recent-orders-wrapper .heading .search-container #search-loader img {
  width: 30px;
}
.recent-orders-wrapper .showmore-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
.recent-orders-wrapper .showmore-container .btn {
  background-color: red;
  border-radius: 12px;
  min-width: 200px;
  font-size: 1.2em;
  height: 45px;
}
.recent-orders-wrapper .showmore-container .btn img {
  height: 30px;
}
.recent-orders-wrapper .showmore-container .btn:hover {
  background-color: #ff7a00;
}
.recent-orders-wrapper .showmore-container #show-more-loader {
  display: none;
  max-width: 20%;
  margin: 0 auto;
  cursor: progress;
}
.recent-orders-wrapper .content-container {
  padding-left: 20px;
  padding-right: 20px;
}
.recent-orders-wrapper #recent-orders .recent-order-rows,
.recent-orders-wrapper #found-orders .found-order-rows {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: repeat(4, 1fr);
  font-family: 'Roboto';
  font-size: 1.2em;
  margin-bottom: 20px;
}
.recent-orders-wrapper #recent-orders .recent-order-rows a,
.recent-orders-wrapper #found-orders .found-order-rows a {
  text-decoration: none;
  color: red;
}
.recent-orders-wrapper #recent-orders .recent-order-rows div,
.recent-orders-wrapper #found-orders .found-order-rows div {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
@media (max-width: 699px) {
  .recent-orders-wrapper #recent-orders .recent-order-rows div.order-name,
  .recent-orders-wrapper #found-orders .found-order-rows div.order-name {
    grid-column: 1/5;
  }
  .recent-orders-wrapper #recent-orders .recent-order-rows div.order-id,
  .recent-orders-wrapper #found-orders .found-order-rows div.order-id {
    grid-column: 1/2;
  }
  .recent-orders-wrapper #recent-orders .recent-order-rows div.order-total,
  .recent-orders-wrapper #found-orders .found-order-rows div.order-total {
    grid-column: 2/3;
  }
  .recent-orders-wrapper #recent-orders .recent-order-rows div.order-invoice,
  .recent-orders-wrapper #found-orders .found-order-rows div.order-invoice {
    grid-column: 3/4;
  }
  .recent-orders-wrapper #recent-orders .recent-order-rows div.order-link,
  .recent-orders-wrapper #found-orders .found-order-rows div.order-link {
    grid-column: 4/5;
  }
}
@media (min-width: 700px) {
  .recent-orders-wrapper #recent-orders .recent-order-rows div.order-name,
  .recent-orders-wrapper #found-orders .found-order-rows div.order-name {
    grid-column: 1/4;
  }
  .recent-orders-wrapper #recent-orders .recent-order-rows div.order-id,
  .recent-orders-wrapper #found-orders .found-order-rows div.order-id {
    grid-column: 4/4;
  }
  .recent-orders-wrapper #recent-orders .recent-order-rows div.order-total,
  .recent-orders-wrapper #found-orders .found-order-rows div.order-total {
    grid-column: 5/5;
  }
  .recent-orders-wrapper #recent-orders .recent-order-rows div.order-invoice,
  .recent-orders-wrapper #found-orders .found-order-rows div.order-invoice {
    grid-column: 6/6;
  }
  .recent-orders-wrapper #recent-orders .recent-order-rows div.order-link,
  .recent-orders-wrapper #found-orders .found-order-rows div.order-link {
    grid-column: 7/7;
  }
}
@media (max-width: 699px) {
  .recent-orders-wrapper #recent-orders .recent-order-rows,
  .recent-orders-wrapper #found-orders .found-order-rows {
    font-size: 0.8em;
  }
}
@media (max-width: 899px) {
  .recent-orders-wrapper #recent-orders .recent-order-rows,
  .recent-orders-wrapper #found-orders .found-order-rows {
    font-size: 1em;
  }
  .recent-orders-wrapper #orders-header {
    font-size: 1.2em;
  }
}

/*# sourceMappingURL=account-recent-orders.css.map */
