.account-details-wrapper, .billing-details-wrapper {
  background-color: #fff;
  box-shadow: 0px 3px 35px 0px;
  border-color: #eee;
  border-radius: 12px;
  padding: 15px;
}
.account-details-wrapper .header-container, .billing-details-wrapper .header-container {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}
.account-details-wrapper .notices-container, .billing-details-wrapper .notices-container {
  padding-left: 20px;
  padding-right: 20px;
}
.account-details-wrapper .form-fields-container, .billing-details-wrapper .form-fields-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.account-details-wrapper .form-fields-container .form-fields-column, .billing-details-wrapper .form-fields-container .form-fields-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.account-details-wrapper .form-fields-container .form-fields-column .input-wrap, .billing-details-wrapper .form-fields-container .form-fields-column .input-wrap {
  padding: 10px 20px;
  flex-grow: 1;
}
.account-details-wrapper .btn-wrap, .billing-details-wrapper .btn-wrap {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
.account-details-wrapper .btn-wrap .btn, .billing-details-wrapper .btn-wrap .btn {
  background-color: red;
  border-radius: 12px;
  min-width: 200px;
  font-size: 1.2em;
  height: 45px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
.account-details-wrapper .btn-wrap .btn:hover, .billing-details-wrapper .btn-wrap .btn:hover {
  background-color: #ff7a00;
}
.account-details-wrapper .select2-container--default .select2-selection--single, .billing-details-wrapper .select2-container--default .select2-selection--single {
  height: 42px;
  padding-top: 6px;
  padding-left: 6px;
}
.account-details-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow, .billing-details-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 42px;
}

/*# sourceMappingURL=account-edit-details.css.map */
