/* Recent Products on Account page - rated or not rated by ser */

.recent-products-wrapper {
	/*display: flex;
	flex-flow: row wrap;
	display: flex;
	justify-content: center;*/
	overflow-x: scroll;
  white-space: nowrap;
	margin-bottom: 100px;


	.recent-item {
		width: 200px;
    margin-top: 28px;
    margin-left: 5px;
    margin-right: 5px;
		display: inline-block;
		margin-bottom: 25px;
		height: 300px;
		background-color: #000;
		box-shadow: 0px 3px 35px 0px;
		border-radius: 12px;
		color: #b5b5b5;
		position: relative;

		.recent-item-inner {
			height: 300px;
			border-radius: 12px;
			background-size: 100%;
			background-repeat: no-repeat;
			white-space: normal;
			border-radius: 12px;
			
			.unrated-overlay {
				width: 100%;
				height: 100%;
				background-color: #8a8a8a;
				opacity: 0.5;
				border-radius: 12px;
				cursor: pointer;
			}
			
			.rated-overlay {
				width: 100%;
				height: 100%;
				background-color: #eeeeee;
				opacity: 0.8;
				border-radius: 12px;
			}
		}
		
		.rated-overlay-text {
			position: absolute;
			top: 0px;
			text-align: center;
			width: 100%;
			height: 100%;
			
			h4 {
				color: #ff1200;
				line-height: 1rem;
				margin-bottom: 0.75rem;
				margin-top: 1rem;
				font-size: 2rem;
				font-weight: bold;
			}
	
			h5 {
				color: #000;
				text-align: center;
				font-weight: bold;
				font-size: 1.4em;
				line-height: 1.5em;
			}
		}
		
		.unrated-overlay-text {
			position: absolute;
			top: 0px;
			text-align: center;
			width: 100%;
			height: 100%;
			cursor: pointer;
	
			h5 {
				color: #f8f8f8;
				text-align: center;
				font-weight: bold;
				font-size: 1.3em;
				text-shadow: 2px 5px #000000;
				filter: drop-shadow(0px 0px 5px #000);
				line-height: 1.5em;
				margin-top: 60%;
			}
		}
		
		div.rating-image {
			text-align: center;
			padding-top:40px;
		}
		
		div.rating-image img {
			height: 100px;
		}
	}
}

@media (max-width: 1200px) {

}


@media (max-width: 875px) {

	.recent-item {
		width: 47%;
		margin-right: 1%;
		margin-top: 28px;
		margin-left: 1%;
	}

}


@media (max-width: 560px) {

	
	.recent-item {
		width: 97%;
		margin-right: 1%;
		margin-left: 1%;
	}
}
