

$color-button-bg: red;
$color-button-hover-bg: #ff7a00;


.account-details-wrapper, .billing-details-wrapper {
	background-color: #fff;
	box-shadow: 0px 3px 35px 0px;
	border-color: #eee;
	border-radius: 12px;
	padding: 15px;
	
	
	.header-container {
		padding-left: 20px;
    padding-right: 20px;
		text-align: left;
	}
	
	.notices-container {
		padding-left: 20px;
    padding-right: 20px;
	}
	
	
	.form-fields-container {
		display:flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: flex-start;
		
		.form-fields-column {
			flex-grow: 1;
			display:flex;
			flex-direction: column;
			flex-wrap: nowrap;
			
			.input-wrap {
				padding: 10px 20px;
				flex-grow: 1;
			}
		}
	}
	
	.btn-wrap {
		text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
		
		.btn {
			background-color: $color-button-bg;
			border-radius: 12px;
			min-width: 200px;
			font-size: 1.2em;
			height: 45px;
			font-weight: 400;
			line-height: 1.5;
			color: #212529;
			text-align: center;
			text-decoration: none;
			vertical-align: middle;
		}
		
		.btn:hover {
			background-color: $color-button-hover-bg;
		}
	}

	.select2-container--default .select2-selection--single {
		height: 42px;
		padding-top: 6px;
    padding-left: 6px;
	}
	
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 42px;
	}
}
