/* Big Deal Shortcode */

.mp-deals-wrapper {
	display: flex;
	flex-flow: row wrap;
	display: flex;
	justify-content: center;
}

.mp-deal-item {
	width: 28.5%;
	margin-top: 28px;
	margin-left: 2%;
	margin-right: 2%;
}

.mp-deal-item-inner {
	margin-right: 10px;
	padding: 10px;
	background-color: #ffffff;
	box-shadow: 0px 3px 35px 0px rgb(0 0 0 / 17%);
	min-height: 500px;
	border-radius: 8px;
	position: relative;
}


.mp-deal-top {
	position: relative;
}

.mp-deal-text-box {
	margin-left: auto;
	margin-bottom: 10px !important;
	position: absolute;
	right: 0px;
}

.mp-deal-text-box a {
	display: block;
	margin-left: 10px;
	padding: 0px 10px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 27px;
  color: black;
	transition: background .3s;
	border-radius: 4px;
}

.mp-deal-text-box a.video-link {
	color: black;
}

.mp-deal-percents-off {
	position: absolute;
	top: 110px;
  left: 10px;
	color: #FFFFFF;
	border-radius: 100%;
	width: 75px;
	height: 75px;
	padding: 20px;
	line-height: 18px;
	font-weight: bold;
	font-size: 20px;
	font-weight: 600;
	background-color: #46bb46;
}


.mp-deal-percents-off.discount_50 {
	background-color: #46bb46;
}

.mp-deal-percents-off.discount_70 {
	background-color: #4789f5;
}

.mp-deal-percents-off.discount_80 {
	background-color: #f5a347;
}

.mp-deal-percents-off.discount_90 {
	background-color: #d26262;
}

h5.mp-deal-developer {
	text-align: center;
	font-size: 1.05rem;
  font-family: "Roboto", Sans-serif;
	line-height: 0.5;
  margin-bottom: 0.8rem;
}


h4.mp-deal-product-title {
	text-align: center;
	font-size: 1.35rem;
  font-family: "Roboto", Sans-serif;
}

.mp-deal-item .mp-deal-item-inner a {
	color: #000;
	text-decoration: none;
	text-align: center;
  display: block;
}


.mp-deal-item .mp-deal-item-inner a.mp-deal-btn:hover {
	background-color: #ffdf5a;
}

.mp-deal-text-box a:hover {
	color: #fff;
	background-color: #fb694f;
}

.mp-deal-text-box a.video-link:hover {
	color: #fff;
	background-color: red;
}

.mp-deal-bottom {
	position: absolute;
	bottom: 7px;
	width: 93%;
}

.mp-deal-info-wrapper {
	display: flex;
	font-size: 0.95rem;
	margin-bottom: 10px;
}

.mp-deal-item .mp-deal-pricebox {
	width: 50%;
	text-align: left;	
}

.mp-deal-item .discount-price {
	font-size: 1.25rem;	
}

.mp-deal-item .original-price {
	font-size: .85rem;
	text-decoration: line-through;
}

.mp-deal-item .mp-price-container {
	width: 50%;
	text-align: left;
	padding-left: 4px;
}


.mp-deal-item .mp-deal-date {
	width: 50%;
	text-align: right;
	color: red;
	padding-right: 4px;
}

.mp-deal-item .mp-deal-countdown .content-countdown {
	display: inline;
	padding-left: 10px;
}

.mp-deal-item .mp-deal-countdown .content-countdown .countdown {
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline;
}

.mp-deal-item .content-countdown .digits-container {
	font-size: 1.1rem;
}

.mp-deal-item .content-countdown .time-divider {
	font-weight: bold;
	position: relative;
	left: 2px;
}

.mp-deal-item .mp-deal-item-inner a.mp-deal-btn {
	display: block;
	width: 100%;
	font-family: "Roboto", Sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #000;
	background-color: #ffc000;
	border-radius: 8px;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	transition: background-color .3s;
	margin-bottom: 5px;
}

/* Modal popup for Big Deal iframes (SoundCloud and Youtube video ) */

.big-deal-sound-lightbox .featherlight-content,
.big-deal-video-lightbox .featherlight-content, 
.big-deal-sound-lightbox .featherlight-content iframe, 
.big-deal-video-lightbox .featherlight-content iframe {
	width: 1120px;
	height: 615px;
}

@media (max-width: 1200px) {

	.big-deal-sound-lightbox .featherlight-content {
		width: 80%;
		height: 700px;
	}

	.big-deal-sound-lightbox .featherlight-content iframe {
		width: 100%;
		height: 100%;
	}
	
	.big-deal-video-lightbox .featherlight-content {
		width: 80%;
		height: 450px;
	}

	.big-deal-video-lightbox .featherlight-content iframe {
		width: 100%;
		height: 100%;
	}

}


@media (max-width: 550px) {

	.big-deal-sound-lightbox .featherlight-content {
		width: 100%;
		height: 90%;
	}
	
	.big-deal-sound-lightbox .featherlight-content iframe {
		height: 100%;
	}
	
	.big-deal-video-lightbox .featherlight-content {
		width: 100%;
		height: 230px;
	}

	.big-deal-video-lightbox .featherlight-content iframe {
		width: 100%;
		height: 100%;
	}

}

/* Set block widths for different screens */


@media (max-width: 875px) {

	.mp-deal-item {
		width: 47%;
		margin-right: 1%;
		margin-top: 28px;
		margin-left: 1%;
	}

}


@media (max-width: 560px) {

	
	.mp-deal-item {
		width: 97%;
		margin-right: 1%;
		margin-left: 1%;
	}
}


/* Footer banners */

.apl-btn-add-to-cart img {
	background-color: #d73e1f;
	width: 30px;
	margin-left: 4px;
	padding: 5px;
	position: relative;
	border-radius: 3px;
	top: -11px;
}

.apl-btn-add-to-cart img:hover {
	background-color: #ef6f1b;
}