/*
Theme Name: APD Elementor
Theme URI: https://wordpress.org/themes/apd/
Author: the Audio Plugin Deals team
Author URI: https://wordpress.org/
Description: Based on Hello Elementor theme. Created in 2022 duting site redesign.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: apd
Text Domain: hello-elementor
Template: hello-elementor
*/




/*========================*/

@charset "UTF-8";
/**
 * Accordion v3.3.0 - EDITED FOR APD THEME
 *
 * Lightweight and accessible accordion module created in pure Javascript
 * https://github.com/michu2k/Accordion
 *
 * Copyright (c) Michał Strumpf
 * Published under MIT License 
 */

.ac{box-sizing:border-box}.ac .ac-header{margin:0;padding:0}.ac .ac-trigger{font:bold 16px Arial,sans-serif;color:#111;text-align:left;width:100%;padding:10px 30px 10px 10px;display:block;cursor:pointer;background-color:transparent;transition:color .25s ease;position:relative;text-decoration:none;margin:0;border:0}.ac .ac-trigger::after{content:"+";text-align:center;width:15px;-webkit-transform:translate(0,-50%);transform:translate(0,-50%);position:absolute;right:10px;top:50%}.ac .ac-trigger:focus{color:#8a8a8a}.ac .ac-panel{overflow:hidden;transition-property:height,visibility;transition-timing-function:ease}.ac .ac-panel .ac-text{font:15px/24px Arial,sans-serif;color:#111;padding:10px;margin:0}.ac.js-enabled .ac-panel{visibility:hidden}.ac.is-active .ac-panel{visibility:visible}.ac.is-active>.ac-header .ac-trigger::after{content:"–"}

.ac button.ac-trigger, 
.ac .ac-trigger:focus, 
.ac button.ac-trigger:hover {
	background-color: white;
	color: #333;
}

.ac.is-active>.ac-header .ac-trigger::after {
	content: "\25BC"; /* BLACK DOWN-POINTING TRIANGLE */ 
}

.ac .ac-trigger::after {
	content: "\25B6"; /* BLACK RIGHT-POINTING TRIANGLE */ 
}

.ac-header h2.form-header button {
	font-size: 2rem;
	font-weight: normal;
  padding-left: 0px;
}


/*========================*/

/* Big Deal Menu */

#big-deal-menu-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    max-width: 1350px;
}

#big-deal-menu-container .item-wrapper {
    margin: 10px;
    text-align: center;
}

#big-deal-menu-container li.big-deal-item {
    flex-grow: 1;
    max-width: 25%;
}

#big-deal-menu-container .days-left {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: yellow;
}

#big-deal-menu-container li.big-deal-item .content_countdown {
    display: inline-block;
    color: yellow;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    width: 100%;
 }
 
 #big-deal-menu-container li.big-deal-item .content_countdown .countdown {
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline;
 }
 
 #big-deal-menu-container li.big-deal-item .content_countdown .element_container {
    min-width: auto;
    margin-left: 0px;
    text-align: center;
    display: inline-block;
 }
 
 #big-deal-menu-container li.big-deal-item .content_countdown .element_container .time_left {
    display: inline;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    padding-right: 2px;
}

#big-deal-menu-container li.big-deal-item .content_countdown .element_container .time_divider {
    display: inline;
    font-size: 15px;
    font-weight: bold;
}

#big-deal-menu-container .big-deal-item .item-discount {
    font-size: 16px;
}
    
#big-deal-menu-container .big-deal-item .item-title {
    font-size: 13px;
    line-height: 1.5em;
    color: #ffffff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

#big-deal-menu-container .big-deal-item .item-title:hover {
    color: #ddd;
}

#big-deal-menu-container .big-deal-item .item-image {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
}

#big-deal-menu-container .big-deal-item .item-image-outer {
    width: 150px;
    height: 150px;
    position: relative;
    margin-left: 75px;
    margin-bottom: 20px;
}

#big-deal-menu-container .big-deal-item .item-price-overlay {
    position: absolute;
    font-size: 15px;
    border-radius: 30px;
    font-weight: bold;
    color: white;
    padding: 5px;
    background-color: #d83e1f;
    right: 0px;
    text-shadow: #15120c 1px 1px 2px;
    bottom: 10px;
    font-family: 'Montserrat';
}


#big-deal-menu-container .big-deal-item .item-discount-overlay {
    position: absolute;
    font-size: 13px;
    padding-top: 5px;
    height: 40px;
    width: 40px;
    font-weight: bold;
    color: #ffffff;
    left: -15px;
    background-color: red;
    top: 10px;
    font-family: 'Montserrat';
    border-radius: 25px;
}

#big-deal-menu-container .big-deal-item .buy-btn {
    color: #fff;
    background-color: #d83e1f;
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    font-size: 13px;
}

#big-deal-menu-container .big-deal-item .learn-btn {
    color: #fff;
    background-color: #444;
    display: inline-block;
    padding: 10px;
    font-size: 13px;
    margin-left: 10px;
}

#big-deal-menu-container .big-deal-item .buy-btn:hover, #big-deal-menu-container .big-deal-item .learn-btn:hover {
    color: #eee;
    background-color: #6dab3c;
}



@media (max-width: 1200px) {
 
    #big-deal-menu-container li.big-deal-item {
        flex-grow: 1;
        max-width: 33%;
    }
}


@media (max-width: 900px) {
 
    #big-deal-menu-container li.big-deal-item {
        flex-grow: 1;
        max-width: 50%;
    }
}


@media (max-width: 550px) {
 
    #big-deal-menu-container li.big-deal-item {
        flex-grow: 1;
        max-width: 100%;
    }
    
    #big-deal-menu-container .big-deal-item .item-image-outer {
        margin-left: 31%;
    }
}




/*========================*/

/* Countdown timer CSS */





/*========================*/

/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.7.14 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2019, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/

html.with-featherlight {
	/* disable global scrolling when featherlights are visible */
	overflow: hidden;
}

.featherlight {
	display: none;

	/* dimensions: spanning the background from edge to edge */
	position:fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 2147483647; /* z-index needs to be >= elements on the site. */

	/* position: centering content */
	text-align: center;

	/* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
	white-space: nowrap;

	/* styling */
	cursor: pointer;
	background: #333;
	/* IE8 "hack" for nested featherlights */
	background: rgba(0, 0, 0, 0);
}

/* support for nested featherlights. Does not work in IE8 (use JS to fix) */
.featherlight:last-of-type {
	background: rgba(0, 0, 0, 0.8);
}

.featherlight:before {
	/* position: trick to center content vertically */
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.featherlight .featherlight-content {
	/* make content container for positioned elements (close button) */
	position: relative;

	/* position: centering vertical and horizontal */
	text-align: left;
	vertical-align: middle;
	display: inline-block;

	/* dimensions: cut off images */
	overflow: auto;
	padding: 25px 25px 0;
	border-bottom: 25px solid transparent;

	/* dimensions: handling large content */
	margin-left: 5%;
	margin-right: 5%;
	max-height: 95%;

	/* styling */
	background: #fff;
	cursor: auto;

	/* reset white-space wrapping */
	white-space: normal;
}

/* contains the content */
.featherlight .featherlight-inner {
	/* make sure its visible */
	display: block;
}

/* don't show these though */
.featherlight script.featherlight-inner,
.featherlight link.featherlight-inner,
.featherlight style.featherlight-inner {
	display: none;
}

.featherlight .featherlight-close-icon {
	/* position: centering vertical and horizontal */
	position: absolute;
	z-index: 9999;
	top: 0;
	right: 0;

	/* dimensions: 25px x 25px */
	line-height: 25px;
	width: 25px;

	/* styling */
	cursor: pointer;
	text-align: center;
	font-family: Arial, sans-serif;
	background: #fff; /* Set the background in case it overlaps the content */
	background: rgba(255, 255, 255, 0.3);
	color: #000;
	border: none;
	padding: 0;
}

/* See http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */
.featherlight .featherlight-close-icon::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.featherlight .featherlight-image {
	/* styling */
	width: 100%;
}


.featherlight-iframe .featherlight-content {
	/* removed the border for image croping since iframe is edge to edge */
	border-bottom: 0;
	padding: 0;
	-webkit-overflow-scrolling: touch;
}

.featherlight iframe {
	/* styling */
	border: none;
}

.featherlight * { /* See https://github.com/noelboss/featherlight/issues/42 */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight .featherlight-content {
		/* dimensions: maximize lightbox with for small screens */
		margin-left: 0;
		margin-right: 0;
		max-height: 98%;

		padding: 10px 10px 0;
		border-bottom: 10px solid transparent;
	}
}

/* hide non featherlight items when printing */
@media print {
	html.with-featherlight > * > :not(.featherlight) {
		display: none;
	}
}



/*========================*/

/* Main CSS - fonts, contents, grids */

@import url('https://fonts.googleapis.com/css?family=Teko:300');

main#content {
    max-width: 1140px;
}


main#content .page-content {
    max-width: 1140px;
    border: none;
}

.order_success_email_template table {
	font-size: 1em;
}

.order-view .product-total {
		margin: 15px 0px;
}


/* [Object] Modal
 * =============================== */

div#wnbell-dropdown-toggle-id\ wnbell-dropdownMenu1 svg {
    width: 28px;
    height: 28px;
    margin-top: 6px;
    color: #7f7f7f;
}

.wnbell-badge-danger {
    background-color: #d8534f;
}

ul#menu-1-d3b0abd a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
    float: left !important;
}

.woocommerce-info::before {
    color: #d73e1f;
}


a.woocommerce-button.woocommerce-button--next.woocommerce-Button.woocommerce-Button--next.button {
    margin-top: 12px;
}

.woocommerce-info {
    border-top-color: #d73e1f;
}

.elementor-1496471 .elementor-element.elementor-element-4c679d2 .uael-close-o:hover {
    color: #d73e1f;
}

a.elementor-button.elementor-button--view-cart.elementor-size-md:hover {
    background: #d73e1f;
}

a.elementor-button.elementor-button--checkout.elementor-size-md:hover {
    background: #d73e1f;
}

.elementor-menu-cart__product-name.product-name a {
    color: #646464;
}

.elementor-menu-cart__product-name.product-name a:hover {
    color: #d73e1f;
}

.elementor-1496471 .elementor-element.elementor-element-4c679d2 .uael-mc-offcanvas__header-badge {
    background-color: #d73e1f;
}

.elementor-menu-cart__subtotal strong {
    font-weight: 700;
}

a.elementor-button.elementor-button--view-cart.elementor-size-md:hover {
    background: #d73e1f;
}

a.elementor-button.elementor-button--checkout.elementor-size-md:hover {
    background: #d73e1f;
}

#zoid-paypal-buttons-uid_95296c360c_mtg6mjg6mdk {
    z-index: 0 !important;
}


.wp-dark-mode-switcher {
    z-index: 1 !important;
}

.uael-mc-offcanvas {
    z-index: 1000000000 !important;
}

@media screen and (max-width: 480px) {
.BuyNow_Button {
    width: 340px !important;
}
}


.elementor-element.elementor-element-1fd8eb0.elementor-widget.elementor-widget-heading h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.elementor-element.elementor-element-4cee082.elementor-widget.elementor-widget-heading h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.BuyNow_Button:hover {
    background: #cd3517;
    transition: 0.3s;
}

.BuyNow_Button {
    float: left;
    width: 350px;
     transition: 0.3s;
    background: #d83e1f;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    height: 64px;
    position: relative;
}

.BuyNow_Button span.Buy {
    font-size: 22px;
    letter-spacing: 2px;
    font-family: Roboto;
}

.BuyNow_Button span.Ins {
    font-size: 10px;
    font-family: Roboto;
}

.BuyImg .productpricecustom {
display: inline;
    font-size: 20px;
    margin-top: -13px;
    margin-left: 8px;
}

button.single_add_to_cart_button.button.alt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.BuyNow_Button p {

    display: inline-block;

    vertical-align: middle;

}

.BuyNow_Button p:first-child span {

    display: block;

}

.BuyNow_Button p:first-child {

    float: left;

    height: 64px;

    padding: 6px 12px;

    width: 41%;

}

.BuyNow_Button p:last-child {

    background: #901800 none repeat scroll 0 0;

    font-family: Raleway-SemiBold;

    font-size: 28px;

    height: 64px;

    padding-top: 8px;

    text-align: center;

    width: 45%;

    position: absolute;

    right: 0;

    padding-left: 13px;

    border-top-right-radius: 8px;

    -webkit-border-top-right-radius: 8px;

    -moz-border-top-right-radius: 8px;

    -ms-border-top-right-radius: 8px;

    -o-border-top-right-radius: 8px;

    border-bottom-right-radius: 8px;

    -webkit-border-bottom-right-radius: 8px;

    -moz-border-bottom-right-radius: 8px;

    -ms-border-bottom-right-radius: 8px;

    -o-border-bottom-right-radius: 8px;

}

.BuyNow_Button a {

    color: #fff;

}
.BuyNow_Button2 {

    margin-top: 10px;

    float: right;

}

button.single_add_to_cart_button.button.alt:focus-visible {
    outline: 0px dashed white !important;
}

button.single_add_to_cart_button.button.alt {
    z-index: 2;
}

.BuyNow_Button a br {
    display: none;
}.BuyNow_Button del {
    display: none;
}
.single_add_to_cart_button.button {
font-family: "Roboto", Sans-serif !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    width: auto !important;
    text-align: center !important;
    color: #FFFFFF !important;
    background-color: #d83e1f00 !important;
    padding: 13px !important;
    margin: -3px 0px 0px 0px !important;
    display: inline-flex !important;
       outline: 0px dashed white !important;
}

.elementor-1497367 .elementor-element.elementor-element-76f738b .jet-woo-builder .single_add_to_cart_button.button:hover {
    /* color: #FFFFFF; */
    /* background-color: #BC2E11; */
}

button.single_add_to_cart_button.button.alt img {
    margin-top: -10px;
    margin-left: 10px;
}

.BuyImg {
    position: relative;
    top: -6px;
    z-index: 1;
}




span.sticker-procentage {
    color: white;
    display: block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 90px;
    text-align: center;
    height: 0px;
    border-bottom: 22px solid #1298ff;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    font-size: 17px;
    line-height: 22px;
}

p.alt-currencies.currency-selector {
    display: flex;
    color: white !important;
    width: 100% !important;
    padding-top: 12px;
    font-weight: 400;
    font-family: Roboto;
}

.wp-dark-mode-switcher.floating.right_bottom {
    display: none !important;
}

@media screen and (max-width: 768px) {
  
.wp-dark-mode-switcher.floating.right_bottom {
    display: block !important;
}
}

label.buttonyoutube {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    margin-right: -3px;
    font-size: 32px;
    margin-top: -10px;
    z-index: 98;
        cursor: pointer;
    color: black;
    padding: 5px 0px;
}nav.woocommerce-breadcrumb {
    display: none;
}

label.buttonyoutube:hover {
    color: #ff1118;
    transition: 0.3s;
}

label.buttonyoutube.wp-dark-mode-ignore {
    z-index: 5000;
}


.modal {
  opacity: 0;
    z-index: 1000000;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease;
}

.modal__bg {
    z-index: 1000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
    z-index: 1000000;
  display: none;
}

.modal-state:checked + .modal {
    z-index: 1000000;
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
    z-index: 1000000;
  top: 0;
}

.modal__inner {
    margin: auto;
    padding: 10px;
     transition: top .25s ease;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    transition: all 5s ease-in-out;
    position: fixed;
    top: 50% !important;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.modal__close {
    
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
    z-index: 1000000;
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
    
  .modal__inner {
    margin: auto;
    padding: 10px;
     transition: top .25s ease;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    transition: all 5s ease-in-out;
    position: fixed;
    top: 50% !important;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}



@media (min-width: 1200px) {
.site-footer .footer-inner, .site-footer:not(.dynamic-footer), .site-header .header-inner, .site-header:not(.dynamic-header), body:not([class*=elementor-page-]) .site-main {
    max-width: 1140px;
}
    }

.jet-mega-menu-mega-container__inner {
    margin-top: 21px !important;
    background: #010101 !important;
    border: 2px solid #010101 !important;
    margin-left: -1px !important;
    position:fixed !Important;
    width:100% !important;
}

.wp-dark-mode-switcher.custom-switch img {
    width: 40px;
}


a.buttonyoutube.wp-dark-mode-ignore {
    z-index: 5000;
}
.producttitle {
    color: #333333;
}

.scloud .buttonsoundcloud {
    color: white;
    background: #ff7800;
    padding: 7px 9px;
    font-size: 27px;
    border-radius: 4px;
}

.scloud .buttonsoundcloud:hover {
    color:White;
    background: #ed7001;
}

.utube .buttonyoutube {
    padding: 7px 9px 7px 9px;
    background-color: #FF0000;
    border-radius: 5px;
    color: white;
    font-size: 27px;
}
.utube .buttonyoutube:hover {
    color: white;
    background-color: #e50202;
}


.grecaptcha-badge {
    display: none !important;
}

label.buttonsoundcloud {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    margin-right: -3px;
        cursor: pointer;
    font-size: 32px;
    color: black;
    z-index:98;
}

label.buttonsoundcloud:hover {
    color: #ff7800;
    transition: 0.3s;
}

a.buttonyoutube {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    margin-right: -3px;
    font-size: 32px;
    margin-top: -10px;
    z-index: 150;
    color: black;
    padding: 5px 0px;
}

a.buttonyoutube:hover {
    color: #ff1118;
    transition: 0.3s;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
    display: flex;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
    z-index:1000000;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: auto;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 0px;
    right: 19px;
    transition: all 200ms;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background: #ff2e2e;
}
.popup .close:hover {
   color: #fff;
    background: #00ad45;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 90%;
  }
  .popup{
    width: 90%;
  }
}


/*========================*/




/*========================*/

/* @import "../node_modules/featherlight/src/featherlight.css"; */
.Rewards .shop-carusel .carusel-wrapper ul li {
  height: auto;
}

.btn-rate-product {
  font-size: 14px;
  text-align: center;
  display: inline-block;
}

.rating-system-content {
  color: #000;
  text-align: center;
  width: 540px;
  max-width: calc(100vw - 20px);
}
.rating-system-content.thank-you .rsc__info-and-thank-you {
  display: block;
}
.rating-system-content.thank-you .rsc__form {
  display: none;
}

.rsc__info-and-thank-you {
  display: none;
}

.rsc__product-image {
  padding-bottom: 20px;
}
.rsc__product-image img {
  width: 200px;
  max-width: 100%;
}

.rsc__product-title {
  font-weight: 700;
  font-size: 18px;
}

.rsc__rating {
  display: flex;
  justify-content: space-between;
  transform: none !important;
}
@media (max-width: 560px) {
  .rsc__rating {
    flex-wrap: wrap;
  }
}
@media (max-width: 560px) {
  .rsc__rating li {
    width: 30%;
  }
}
.rsc__rating li:nth-child(1) label:before {
  background-image: url("img/rate-0.png");
}
.rsc__rating li:nth-child(2) label:before {
  background-image: url("img/rate-1.png");
}
.rsc__rating li:nth-child(3) label:before {
  background-image: url("img/rate-2.png");
}
.rsc__rating li:nth-child(4) label:before {
  background-image: url("img/rate-3.png");
}
.rsc__rating li:nth-child(5) label:before {
  background-image: url("img/rate-4.png");
}
.rsc__rating li:nth-child(6) label:before {
  background-image: url("img/rate-5.png");
}
.rsc__rating input {
  display: none;
}
.rsc__rating input:checked + label {
  border-color: #d73e1f;
}
.rsc__rating input:checked + label span {
  position: relative;
}
.rsc__rating input:checked + label span:after {
  content: '';
  position: absolute;
  top: -10px;
  left: -20px;
  display: block;
  width: 30px;
  height: 30px;
  mask-image: url("img/checkmark.svg");
  mask-size: 100% auto;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: green;
}
.rsc__rating label {
  cursor: pointer;
  display: block;
  position: relative;
  font-weight: bold;
}
.rsc__rating label:before {
  content: '';
  display: block;
  width: 50px;
  height: 75px;
  background-image: url("img/rate-5.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
  margin-left: auto;
  margin-right: auto;
}
.rsc__rating label span {
  padding-top: 13px;
  display: block;
  padding-bottom: 10px;
}
.rsc__rating label.selected-rating {
  color: #ff4949;
}

.rsc__heading {
  margin-top: 20px;
  margin-bottom: 20px;
}

button.btn-submit-rating {
  background-color: #d73e1f;
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 25px;
  min-width: 100px;
}
button.btn-submit-rating.loading {
  position: relative;
  font-size: 0;
}
button.btn-submit-rating.loading:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  background-image: url("img/loader.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
button.btn-submit-rating:disabled {
  opacity: 0.5;
  cursor: auto;
}
button.btn-submit-rating:not(:disabled):hover {
  background-color: #ff4949;
}

.rsc__error {
  font-size: 14px;
  color: red;
}

.rsc__hint {
  font-size: 14px;
}

.rsc__thank-you-message {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  color: green;
}

.rsc__average-rating {
  font-family: "Work Sans", "San Francisco", sans-serif;
  font-size: 16px;
  line-height: 1;
}
.rsc__average-rating.short .rsc__average-rating__rating:before {
  width: 30px;
  height: 30px;
}
.rsc__average-rating.short .rsc__average-rating__rating[data-rating="5"]:before {
  height: 45px;
}
.rsc__average-rating.short .rsc__average-rating__rating span:nth-child(1) {
  font-size: 24px;
}
.rsc__average-rating.short .rsc__average-rating__rating span:nth-child(2) {
  font-size: 16px;
}

.rsc__average-rating__rating {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.rsc__average-rating__rating[data-rating="0"]:before {
  background-image: url("img/rate-0.png");
}
.rsc__average-rating__rating[data-rating="1"]:before {
  background-image: url("img/rate-1.png");
}
.rsc__average-rating__rating[data-rating="2"]:before {
  background-image: url("img/rate-2.png");
}
.rsc__average-rating__rating[data-rating="3"]:before {
  background-image: url("img/rate-3.png");
}
.rsc__average-rating__rating[data-rating="4"]:before {
  background-image: url("img/rate-4.png");
}
.rsc__average-rating__rating[data-rating="5"]:before {
  background-image: url("img/rate-5.png");
}
.rsc__average-rating__rating:before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("img/rate-5.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
}
.rsc__average-rating__rating[data-rating="5"]:before {
  height: 75px;
}
.rsc__average-rating__rating span:nth-child(1) {
  display: block;
  font-size: 48px;
  line-height: 1;
  margin-left: 10px;
}
.rsc__average-rating__rating span:nth-child(2) {
  font-size: 30px;
  line-height: 1;
}
.rsc__average-rating__rating span:nth-child(3) {
  margin-left: 8px;
}

li.rsc__rating__option {
  list-style-type: none;
}

.rsc__text-apd-meter {
  font-weight: 700;
  margin-top: 10px;
}

.rsc__average-rating__help-text span {
  font-weight: 700;
}

.single-product .rsc__average-rating-wrapper {
  margin-top: 30px;
}
.single-product .rsc__average-rating__rating {
  justify-content: left;
  margin-bottom: 10px;
}
.single-product .rsc__average-rating__help-text {
  margin-bottom: 15px;
}

.archive .rsc__average-rating {
  margin-bottom: 20px;
}
.archive .rsc__average-rating__rating {
  justify-content: left;
}

.shop-carusel .carusel-wrapper ul li.top-rated:before {
  content: '';
  display: block;
  width: 30px;
  height: 45px;
  background-image: url("img/rate-5.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
  position: absolute;
  top: -15px;
  left: 0;
}

/*# sourceMappingURL=rating.css.map */



/*========================*/

.account-details-wrapper, .billing-details-wrapper {
  background-color: #fff;
  box-shadow: 0px 3px 35px 0px;
  border-color: #eee;
  border-radius: 12px;
  padding: 15px;
}
.account-details-wrapper .header-container, .billing-details-wrapper .header-container {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}
.account-details-wrapper .notices-container, .billing-details-wrapper .notices-container {
  padding-left: 20px;
  padding-right: 20px;
}
.account-details-wrapper .form-fields-container, .billing-details-wrapper .form-fields-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.account-details-wrapper .form-fields-container .form-fields-column, .billing-details-wrapper .form-fields-container .form-fields-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.account-details-wrapper .form-fields-container .form-fields-column .input-wrap, .billing-details-wrapper .form-fields-container .form-fields-column .input-wrap {
  padding: 10px 20px;
  flex-grow: 1;
}
.account-details-wrapper .btn-wrap, .billing-details-wrapper .btn-wrap {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
.account-details-wrapper .btn-wrap .btn, .billing-details-wrapper .btn-wrap .btn {
  background-color: red;
  border-radius: 12px;
  min-width: 200px;
  font-size: 1.2em;
  height: 45px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
.account-details-wrapper .btn-wrap .btn:hover, .billing-details-wrapper .btn-wrap .btn:hover {
  background-color: #ff7a00;
}
.account-details-wrapper .select2-container--default .select2-selection--single, .billing-details-wrapper .select2-container--default .select2-selection--single {
  height: 42px;
  padding-top: 6px;
  padding-left: 6px;
}
.account-details-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow, .billing-details-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 42px;
}

/*# sourceMappingURL=account-edit-details.css.map */



/*========================*/

.recent-orders-wrapper {
  background-color: #fff;
  box-shadow: 0px 3px 35px 0px;
  border-color: #eee;
  border-radius: 12px;
  padding: 15px;
}
.recent-orders-wrapper .heading {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.recent-orders-wrapper .heading .header-container {
  display: inline-block;
  width: 50%;
}
.recent-orders-wrapper .heading .search-container {
  display: inline-block;
  width: 50%;
  max-width: 300px;
  position: absolute;
  right: 10px;
  text-align: right;
  padding-top: 8px;
}
.recent-orders-wrapper .heading .search-container input {
  border-radius: 10px;
  display: inline;
  width: 55%;
  margin-right: 4px;
}
.recent-orders-wrapper .heading .search-container .btn {
  border-radius: 10px;
  background-color: red;
  color: black;
  width: 42px;
  height: 42px;
  padding-top: 6px;
}
.recent-orders-wrapper .heading .search-container #order-search-trigger:hover {
  background-color: #ff7a00;
}
.recent-orders-wrapper .heading .search-container #search-loader {
  display: none;
  width: 42px;
  height: 42px;
  margin: 0 auto;
  cursor: progress;
}
.recent-orders-wrapper .heading .search-container #search-loader img {
  width: 30px;
}
.recent-orders-wrapper .showmore-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
.recent-orders-wrapper .showmore-container .btn {
  background-color: red;
  border-radius: 12px;
  min-width: 200px;
  font-size: 1.2em;
  height: 45px;
}
.recent-orders-wrapper .showmore-container .btn img {
  height: 30px;
}
.recent-orders-wrapper .showmore-container .btn:hover {
  background-color: #ff7a00;
}
.recent-orders-wrapper .showmore-container #show-more-loader {
  display: none;
  max-width: 20%;
  margin: 0 auto;
  cursor: progress;
}
.recent-orders-wrapper .content-container {
  padding-left: 20px;
  padding-right: 20px;
}
.recent-orders-wrapper #recent-orders .recent-order-rows,
.recent-orders-wrapper #found-orders .found-order-rows {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: repeat(4, 1fr);
  font-family: 'Roboto';
  font-size: 1.2em;
  margin-bottom: 20px;
}
.recent-orders-wrapper #recent-orders .recent-order-rows a,
.recent-orders-wrapper #found-orders .found-order-rows a {
  text-decoration: none;
  color: red;
}
.recent-orders-wrapper #recent-orders .recent-order-rows div,
.recent-orders-wrapper #found-orders .found-order-rows div {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
@media (max-width: 699px) {
  .recent-orders-wrapper #recent-orders .recent-order-rows div.order-name,
  .recent-orders-wrapper #found-orders .found-order-rows div.order-name {
    grid-column: 1/5;
  }
  .recent-orders-wrapper #recent-orders .recent-order-rows div.order-id,
  .recent-orders-wrapper #found-orders .found-order-rows div.order-id {
    grid-column: 1/2;
  }
  .recent-orders-wrapper #recent-orders .recent-order-rows div.order-total,
  .recent-orders-wrapper #found-orders .found-order-rows div.order-total {
    grid-column: 2/3;
  }
  .recent-orders-wrapper #recent-orders .recent-order-rows div.order-invoice,
  .recent-orders-wrapper #found-orders .found-order-rows div.order-invoice {
    grid-column: 3/4;
  }
  .recent-orders-wrapper #recent-orders .recent-order-rows div.order-link,
  .recent-orders-wrapper #found-orders .found-order-rows div.order-link {
    grid-column: 4/5;
  }
}
@media (min-width: 700px) {
  .recent-orders-wrapper #recent-orders .recent-order-rows div.order-name,
  .recent-orders-wrapper #found-orders .found-order-rows div.order-name {
    grid-column: 1/4;
  }
  .recent-orders-wrapper #recent-orders .recent-order-rows div.order-id,
  .recent-orders-wrapper #found-orders .found-order-rows div.order-id {
    grid-column: 4/4;
  }
  .recent-orders-wrapper #recent-orders .recent-order-rows div.order-total,
  .recent-orders-wrapper #found-orders .found-order-rows div.order-total {
    grid-column: 5/5;
  }
  .recent-orders-wrapper #recent-orders .recent-order-rows div.order-invoice,
  .recent-orders-wrapper #found-orders .found-order-rows div.order-invoice {
    grid-column: 6/6;
  }
  .recent-orders-wrapper #recent-orders .recent-order-rows div.order-link,
  .recent-orders-wrapper #found-orders .found-order-rows div.order-link {
    grid-column: 7/7;
  }
}
@media (max-width: 699px) {
  .recent-orders-wrapper #recent-orders .recent-order-rows,
  .recent-orders-wrapper #found-orders .found-order-rows {
    font-size: 0.8em;
  }
}
@media (max-width: 899px) {
  .recent-orders-wrapper #recent-orders .recent-order-rows,
  .recent-orders-wrapper #found-orders .found-order-rows {
    font-size: 1em;
  }
  .recent-orders-wrapper #orders-header {
    font-size: 1.2em;
  }
}

/*# sourceMappingURL=account-recent-orders.css.map */



/*========================*/

/* Recent Products on Account page - rated or not rated by ser */
.recent-products-wrapper {
  /*display: flex;
  flex-flow: row wrap;
  display: flex;
  justify-content: center;*/
  overflow-x: scroll;
  white-space: nowrap;
  margin-bottom: 100px;
}
.recent-products-wrapper .recent-item {
  width: 200px;
  margin-top: 28px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 25px;
  height: 300px;
  background-color: #000;
  box-shadow: 0px 3px 35px 0px;
  border-radius: 12px;
  color: #b5b5b5;
  position: relative;
}
.recent-products-wrapper .recent-item .recent-item-inner {
  height: 300px;
  border-radius: 12px;
  background-size: 100%;
  background-repeat: no-repeat;
  white-space: normal;
  border-radius: 12px;
}
.recent-products-wrapper .recent-item .recent-item-inner .unrated-overlay {
  width: 100%;
  height: 100%;
  background-color: #8a8a8a;
  opacity: 0.5;
  border-radius: 12px;
  cursor: pointer;
}
.recent-products-wrapper .recent-item .recent-item-inner .rated-overlay {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  opacity: 0.8;
  border-radius: 12px;
}
.recent-products-wrapper .recent-item .rated-overlay-text {
  position: absolute;
  top: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
}
.recent-products-wrapper .recent-item .rated-overlay-text h4 {
  color: #ff1200;
  line-height: 1rem;
  margin-bottom: 0.75rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
.recent-products-wrapper .recent-item .rated-overlay-text h5 {
  color: #000;
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1.5em;
}
.recent-products-wrapper .recent-item .unrated-overlay-text {
  position: absolute;
  top: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.recent-products-wrapper .recent-item .unrated-overlay-text h5 {
  color: #f8f8f8;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  text-shadow: 2px 5px #000000;
  filter: drop-shadow(0px 0px 5px #000);
  line-height: 1.5em;
  margin-top: 60%;
}
.recent-products-wrapper .recent-item div.rating-image {
  text-align: center;
  padding-top: 40px;
}
.recent-products-wrapper .recent-item div.rating-image img {
  height: 100px;
}

@media (max-width: 875px) {
  .recent-item {
    width: 47%;
    margin-right: 1%;
    margin-top: 28px;
    margin-left: 1%;
  }
}
@media (max-width: 560px) {
  .recent-item {
    width: 97%;
    margin-right: 1%;
    margin-left: 1%;
  }
}

/*# sourceMappingURL=account-recent-products.css.map */



/*========================*/

/* Big Deal Shortcode */

.mp-deals-wrapper {
	display: flex;
	flex-flow: row wrap;
	display: flex;
	justify-content: center;
}

.mp-deal-item {
	width: 28.5%;
	margin-top: 28px;
	margin-left: 2%;
	margin-right: 2%;
}

.mp-deal-item-inner {
	margin-right: 10px;
	padding: 10px;
	background-color: #ffffff;
	box-shadow: 0px 3px 35px 0px rgb(0 0 0 / 17%);
	min-height: 500px;
	border-radius: 8px;
	position: relative;
}


.mp-deal-top {
	position: relative;
}

.mp-deal-text-box {
	margin-left: auto;
	margin-bottom: 10px !important;
	position: absolute;
	right: 0px;
}

.mp-deal-text-box a {
	display: block;
	margin-left: 10px;
	padding: 0px 10px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 27px;
  color: black;
	transition: background .3s;
	border-radius: 4px;
}

.mp-deal-text-box a.video-link {
	color: black;
}

.mp-deal-percents-off {
	position: absolute;
	top: 110px;
  left: 10px;
	color: #FFFFFF;
	border-radius: 100%;
	width: 75px;
	height: 75px;
	padding: 20px;
	line-height: 18px;
	font-weight: bold;
	font-size: 20px;
	font-weight: 600;
	background-color: #46bb46;
}


.mp-deal-percents-off.discount_50 {
	background-color: #46bb46;
}

.mp-deal-percents-off.discount_70 {
	background-color: #4789f5;
}

.mp-deal-percents-off.discount_80 {
	background-color: #f5a347;
}

.mp-deal-percents-off.discount_90 {
	background-color: #d26262;
}

h5.mp-deal-developer {
	text-align: center;
	font-size: 1.05rem;
  font-family: "Roboto", Sans-serif;
	line-height: 0.5;
  margin-bottom: 0.8rem;
}


h4.mp-deal-product-title {
	text-align: center;
	font-size: 1.35rem;
  font-family: "Roboto", Sans-serif;
}

.mp-deal-item .mp-deal-item-inner a {
	color: #000;
	text-decoration: none;
	text-align: center;
  display: block;
}


.mp-deal-item .mp-deal-item-inner a.mp-deal-btn:hover {
	background-color: #ffdf5a;
}

.mp-deal-text-box a:hover {
	color: #fff;
	background-color: #fb694f;
}

.mp-deal-text-box a.video-link:hover {
	color: #fff;
	background-color: red;
}

.mp-deal-bottom {
	position: absolute;
	bottom: 7px;
	width: 93%;
}

.mp-deal-info-wrapper {
	display: flex;
	font-size: 0.95rem;
	margin-bottom: 10px;
}

.mp-deal-item .mp-deal-pricebox {
	width: 50%;
	text-align: left;	
}

.mp-deal-item .discount-price {
	font-size: 1.25rem;	
}

.mp-deal-item .original-price {
	font-size: .85rem;
	text-decoration: line-through;
}

.mp-deal-item .mp-price-container {
	width: 50%;
	text-align: left;
	padding-left: 4px;
}


.mp-deal-item .mp-deal-date {
	width: 50%;
	text-align: right;
	color: red;
	padding-right: 4px;
}

.mp-deal-item .mp-deal-countdown .content-countdown {
	display: inline;
	padding-left: 10px;
}

.mp-deal-item .mp-deal-countdown .content-countdown .countdown {
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline;
}

.mp-deal-item .content-countdown .digits-container {
	font-size: 1.1rem;
}

.mp-deal-item .content-countdown .time-divider {
	font-weight: bold;
	position: relative;
	left: 2px;
}

.mp-deal-item .mp-deal-item-inner a.mp-deal-btn {
	display: block;
	width: 100%;
	font-family: "Roboto", Sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #000;
	background-color: #ffc000;
	border-radius: 8px;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	transition: background-color .3s;
	margin-bottom: 5px;
}

/* Modal popup for Big Deal iframes (SoundCloud and Youtube video ) */

.big-deal-sound-lightbox .featherlight-content,
.big-deal-video-lightbox .featherlight-content, 
.big-deal-sound-lightbox .featherlight-content iframe, 
.big-deal-video-lightbox .featherlight-content iframe {
	width: 1120px;
	height: 615px;
}

@media (max-width: 1200px) {

	.big-deal-sound-lightbox .featherlight-content {
		width: 80%;
		height: 700px;
	}

	.big-deal-sound-lightbox .featherlight-content iframe {
		width: 100%;
		height: 100%;
	}
	
	.big-deal-video-lightbox .featherlight-content {
		width: 80%;
		height: 450px;
	}

	.big-deal-video-lightbox .featherlight-content iframe {
		width: 100%;
		height: 100%;
	}

}


@media (max-width: 550px) {

	.big-deal-sound-lightbox .featherlight-content {
		width: 100%;
		height: 90%;
	}
	
	.big-deal-sound-lightbox .featherlight-content iframe {
		height: 100%;
	}
	
	.big-deal-video-lightbox .featherlight-content {
		width: 100%;
		height: 230px;
	}

	.big-deal-video-lightbox .featherlight-content iframe {
		width: 100%;
		height: 100%;
	}

}

/* Set block widths for different screens */


@media (max-width: 875px) {

	.mp-deal-item {
		width: 47%;
		margin-right: 1%;
		margin-top: 28px;
		margin-left: 1%;
	}

}


@media (max-width: 560px) {

	
	.mp-deal-item {
		width: 97%;
		margin-right: 1%;
		margin-left: 1%;
	}
}


/* Footer banners */

.apl-btn-add-to-cart img {
	background-color: #d73e1f;
	width: 30px;
	margin-left: 4px;
	padding: 5px;
	position: relative;
	border-radius: 3px;
	top: -11px;
}

.apl-btn-add-to-cart img:hover {
	background-color: #ef6f1b;
}