@charset "UTF-8";
/**
 * Accordion v3.3.0 - EDITED FOR APD THEME
 *
 * Lightweight and accessible accordion module created in pure Javascript
 * https://github.com/michu2k/Accordion
 *
 * Copyright (c) Michał Strumpf
 * Published under MIT License 
 */

.ac{box-sizing:border-box}.ac .ac-header{margin:0;padding:0}.ac .ac-trigger{font:bold 16px Arial,sans-serif;color:#111;text-align:left;width:100%;padding:10px 30px 10px 10px;display:block;cursor:pointer;background-color:transparent;transition:color .25s ease;position:relative;text-decoration:none;margin:0;border:0}.ac .ac-trigger::after{content:"+";text-align:center;width:15px;-webkit-transform:translate(0,-50%);transform:translate(0,-50%);position:absolute;right:10px;top:50%}.ac .ac-trigger:focus{color:#8a8a8a}.ac .ac-panel{overflow:hidden;transition-property:height,visibility;transition-timing-function:ease}.ac .ac-panel .ac-text{font:15px/24px Arial,sans-serif;color:#111;padding:10px;margin:0}.ac.js-enabled .ac-panel{visibility:hidden}.ac.is-active .ac-panel{visibility:visible}.ac.is-active>.ac-header .ac-trigger::after{content:"–"}

.ac button.ac-trigger, 
.ac .ac-trigger:focus, 
.ac button.ac-trigger:hover {
	background-color: white;
	color: #333;
}

.ac.is-active>.ac-header .ac-trigger::after {
	content: "\25BC"; /* BLACK DOWN-POINTING TRIANGLE */ 
}

.ac .ac-trigger::after {
	content: "\25B6"; /* BLACK RIGHT-POINTING TRIANGLE */ 
}

.ac-header h2.form-header button {
	font-size: 2rem;
	font-weight: normal;
  padding-left: 0px;
}