/* Big Deal Menu */

#big-deal-menu-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    max-width: 1350px;
}

#big-deal-menu-container .item-wrapper {
    margin: 10px;
    text-align: center;
}

#big-deal-menu-container li.big-deal-item {
    flex-grow: 1;
    max-width: 25%;
}

#big-deal-menu-container .days-left {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: yellow;
}

#big-deal-menu-container li.big-deal-item .content_countdown {
    display: inline-block;
    color: yellow;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    width: 100%;
 }
 
 #big-deal-menu-container li.big-deal-item .content_countdown .countdown {
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline;
 }
 
 #big-deal-menu-container li.big-deal-item .content_countdown .element_container {
    min-width: auto;
    margin-left: 0px;
    text-align: center;
    display: inline-block;
 }
 
 #big-deal-menu-container li.big-deal-item .content_countdown .element_container .time_left {
    display: inline;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    padding-right: 2px;
}

#big-deal-menu-container li.big-deal-item .content_countdown .element_container .time_divider {
    display: inline;
    font-size: 15px;
    font-weight: bold;
}

#big-deal-menu-container .big-deal-item .item-discount {
    font-size: 16px;
}
    
#big-deal-menu-container .big-deal-item .item-title {
    font-size: 13px;
    line-height: 1.5em;
    color: #ffffff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

#big-deal-menu-container .big-deal-item .item-title:hover {
    color: #ddd;
}

#big-deal-menu-container .big-deal-item .item-image {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
}

#big-deal-menu-container .big-deal-item .item-image-outer {
    width: 150px;
    height: 150px;
    position: relative;
    margin-left: 75px;
    margin-bottom: 20px;
}

#big-deal-menu-container .big-deal-item .item-price-overlay {
    position: absolute;
    font-size: 15px;
    border-radius: 30px;
    font-weight: bold;
    color: white;
    padding: 5px;
    background-color: #d83e1f;
    right: 0px;
    text-shadow: #15120c 1px 1px 2px;
    bottom: 10px;
    font-family: 'Montserrat';
}


#big-deal-menu-container .big-deal-item .item-discount-overlay {
    position: absolute;
    font-size: 13px;
    padding-top: 5px;
    height: 40px;
    width: 40px;
    font-weight: bold;
    color: #ffffff;
    left: -15px;
    background-color: red;
    top: 10px;
    font-family: 'Montserrat';
    border-radius: 25px;
}

#big-deal-menu-container .big-deal-item .buy-btn {
    color: #fff;
    background-color: #d83e1f;
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    font-size: 13px;
}

#big-deal-menu-container .big-deal-item .learn-btn {
    color: #fff;
    background-color: #444;
    display: inline-block;
    padding: 10px;
    font-size: 13px;
    margin-left: 10px;
}

#big-deal-menu-container .big-deal-item .buy-btn:hover, #big-deal-menu-container .big-deal-item .learn-btn:hover {
    color: #eee;
    background-color: #6dab3c;
}



@media (max-width: 1200px) {
 
    #big-deal-menu-container li.big-deal-item {
        flex-grow: 1;
        max-width: 33%;
    }
}


@media (max-width: 900px) {
 
    #big-deal-menu-container li.big-deal-item {
        flex-grow: 1;
        max-width: 50%;
    }
}


@media (max-width: 550px) {
 
    #big-deal-menu-container li.big-deal-item {
        flex-grow: 1;
        max-width: 100%;
    }
    
    #big-deal-menu-container .big-deal-item .item-image-outer {
        margin-left: 31%;
    }
}

