/* Main CSS - fonts, contents, grids */

@import url('https://fonts.googleapis.com/css?family=Teko:300');

main#content {
    max-width: 1140px;
}


main#content .page-content {
    max-width: 1140px;
    border: none;
}

.order_success_email_template table {
	font-size: 1em;
}

.order-view .product-total {
		margin: 15px 0px;
}


/* [Object] Modal
 * =============================== */

div#wnbell-dropdown-toggle-id\ wnbell-dropdownMenu1 svg {
    width: 28px;
    height: 28px;
    margin-top: 6px;
    color: #7f7f7f;
}

.wnbell-badge-danger {
    background-color: #d8534f;
}

ul#menu-1-d3b0abd a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
    float: left !important;
}

.woocommerce-info::before {
    color: #d73e1f;
}


a.woocommerce-button.woocommerce-button--next.woocommerce-Button.woocommerce-Button--next.button {
    margin-top: 12px;
}

.woocommerce-info {
    border-top-color: #d73e1f;
}

.elementor-1496471 .elementor-element.elementor-element-4c679d2 .uael-close-o:hover {
    color: #d73e1f;
}

a.elementor-button.elementor-button--view-cart.elementor-size-md:hover {
    background: #d73e1f;
}

a.elementor-button.elementor-button--checkout.elementor-size-md:hover {
    background: #d73e1f;
}

.elementor-menu-cart__product-name.product-name a {
    color: #646464;
}

.elementor-menu-cart__product-name.product-name a:hover {
    color: #d73e1f;
}

.elementor-1496471 .elementor-element.elementor-element-4c679d2 .uael-mc-offcanvas__header-badge {
    background-color: #d73e1f;
}

.elementor-menu-cart__subtotal strong {
    font-weight: 700;
}

a.elementor-button.elementor-button--view-cart.elementor-size-md:hover {
    background: #d73e1f;
}

a.elementor-button.elementor-button--checkout.elementor-size-md:hover {
    background: #d73e1f;
}

#zoid-paypal-buttons-uid_95296c360c_mtg6mjg6mdk {
    z-index: 0 !important;
}


.wp-dark-mode-switcher {
    z-index: 1 !important;
}

.uael-mc-offcanvas {
    z-index: 1000000000 !important;
}

@media screen and (max-width: 480px) {
.BuyNow_Button {
    width: 340px !important;
}
}


.elementor-element.elementor-element-1fd8eb0.elementor-widget.elementor-widget-heading h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.elementor-element.elementor-element-4cee082.elementor-widget.elementor-widget-heading h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.BuyNow_Button:hover {
    background: #cd3517;
    transition: 0.3s;
}

.BuyNow_Button {
    float: left;
    width: 350px;
     transition: 0.3s;
    background: #d83e1f;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    height: 64px;
    position: relative;
}

.BuyNow_Button span.Buy {
    font-size: 22px;
    letter-spacing: 2px;
    font-family: Roboto;
}

.BuyNow_Button span.Ins {
    font-size: 10px;
    font-family: Roboto;
}

.BuyImg .productpricecustom {
display: inline;
    font-size: 20px;
    margin-top: -13px;
    margin-left: 8px;
}

button.single_add_to_cart_button.button.alt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.BuyNow_Button p {

    display: inline-block;

    vertical-align: middle;

}

.BuyNow_Button p:first-child span {

    display: block;

}

.BuyNow_Button p:first-child {

    float: left;

    height: 64px;

    padding: 6px 12px;

    width: 41%;

}

.BuyNow_Button p:last-child {

    background: #901800 none repeat scroll 0 0;

    font-family: Raleway-SemiBold;

    font-size: 28px;

    height: 64px;

    padding-top: 8px;

    text-align: center;

    width: 45%;

    position: absolute;

    right: 0;

    padding-left: 13px;

    border-top-right-radius: 8px;

    -webkit-border-top-right-radius: 8px;

    -moz-border-top-right-radius: 8px;

    -ms-border-top-right-radius: 8px;

    -o-border-top-right-radius: 8px;

    border-bottom-right-radius: 8px;

    -webkit-border-bottom-right-radius: 8px;

    -moz-border-bottom-right-radius: 8px;

    -ms-border-bottom-right-radius: 8px;

    -o-border-bottom-right-radius: 8px;

}

.BuyNow_Button a {

    color: #fff;

}
.BuyNow_Button2 {

    margin-top: 10px;

    float: right;

}

button.single_add_to_cart_button.button.alt:focus-visible {
    outline: 0px dashed white !important;
}

button.single_add_to_cart_button.button.alt {
    z-index: 2;
}

.BuyNow_Button a br {
    display: none;
}.BuyNow_Button del {
    display: none;
}
.single_add_to_cart_button.button {
font-family: "Roboto", Sans-serif !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    width: auto !important;
    text-align: center !important;
    color: #FFFFFF !important;
    background-color: #d83e1f00 !important;
    padding: 13px !important;
    margin: -3px 0px 0px 0px !important;
    display: inline-flex !important;
       outline: 0px dashed white !important;
}

.elementor-1497367 .elementor-element.elementor-element-76f738b .jet-woo-builder .single_add_to_cart_button.button:hover {
    /* color: #FFFFFF; */
    /* background-color: #BC2E11; */
}

button.single_add_to_cart_button.button.alt img {
    margin-top: -10px;
    margin-left: 10px;
}

.BuyImg {
    position: relative;
    top: -6px;
    z-index: 1;
}




span.sticker-procentage {
    color: white;
    display: block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 90px;
    text-align: center;
    height: 0px;
    border-bottom: 22px solid #1298ff;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    font-size: 17px;
    line-height: 22px;
}

p.alt-currencies.currency-selector {
    display: flex;
    color: white !important;
    width: 100% !important;
    padding-top: 12px;
    font-weight: 400;
    font-family: Roboto;
}

.wp-dark-mode-switcher.floating.right_bottom {
    display: none !important;
}

@media screen and (max-width: 768px) {
  
.wp-dark-mode-switcher.floating.right_bottom {
    display: block !important;
}
}

label.buttonyoutube {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    margin-right: -3px;
    font-size: 32px;
    margin-top: -10px;
    z-index: 98;
        cursor: pointer;
    color: black;
    padding: 5px 0px;
}nav.woocommerce-breadcrumb {
    display: none;
}

label.buttonyoutube:hover {
    color: #ff1118;
    transition: 0.3s;
}

label.buttonyoutube.wp-dark-mode-ignore {
    z-index: 5000;
}


.modal {
  opacity: 0;
    z-index: 1000000;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease;
}

.modal__bg {
    z-index: 1000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
    z-index: 1000000;
  display: none;
}

.modal-state:checked + .modal {
    z-index: 1000000;
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
    z-index: 1000000;
  top: 0;
}

.modal__inner {
    margin: auto;
    padding: 10px;
     transition: top .25s ease;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    transition: all 5s ease-in-out;
    position: fixed;
    top: 50% !important;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.modal__close {
    
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
    z-index: 1000000;
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
    
  .modal__inner {
    margin: auto;
    padding: 10px;
     transition: top .25s ease;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    transition: all 5s ease-in-out;
    position: fixed;
    top: 50% !important;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}



@media (min-width: 1200px) {
.site-footer .footer-inner, .site-footer:not(.dynamic-footer), .site-header .header-inner, .site-header:not(.dynamic-header), body:not([class*=elementor-page-]) .site-main {
    max-width: 1140px;
}
    }

.jet-mega-menu-mega-container__inner {
    margin-top: 21px !important;
    background: #010101 !important;
    border: 2px solid #010101 !important;
    margin-left: -1px !important;
    position:fixed !Important;
    width:100% !important;
}

.wp-dark-mode-switcher.custom-switch img {
    width: 40px;
}


a.buttonyoutube.wp-dark-mode-ignore {
    z-index: 5000;
}
.producttitle {
    color: #333333;
}

.scloud .buttonsoundcloud {
    color: white;
    background: #ff7800;
    padding: 7px 9px;
    font-size: 27px;
    border-radius: 4px;
}

.scloud .buttonsoundcloud:hover {
    color:White;
    background: #ed7001;
}

.utube .buttonyoutube {
    padding: 7px 9px 7px 9px;
    background-color: #FF0000;
    border-radius: 5px;
    color: white;
    font-size: 27px;
}
.utube .buttonyoutube:hover {
    color: white;
    background-color: #e50202;
}


.grecaptcha-badge {
    display: none !important;
}

label.buttonsoundcloud {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    margin-right: -3px;
        cursor: pointer;
    font-size: 32px;
    color: black;
    z-index:98;
}

label.buttonsoundcloud:hover {
    color: #ff7800;
    transition: 0.3s;
}

a.buttonyoutube {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    margin-right: -3px;
    font-size: 32px;
    margin-top: -10px;
    z-index: 150;
    color: black;
    padding: 5px 0px;
}

a.buttonyoutube:hover {
    color: #ff1118;
    transition: 0.3s;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
    display: flex;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
    z-index:1000000;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: auto;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 0px;
    right: 19px;
    transition: all 200ms;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background: #ff2e2e;
}
.popup .close:hover {
   color: #fff;
    background: #00ad45;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 90%;
  }
  .popup{
    width: 90%;
  }
}