/* @import "../node_modules/featherlight/src/featherlight.css"; */
.Rewards .shop-carusel .carusel-wrapper ul li {
  height: auto;
}

.btn-rate-product {
  font-size: 14px;
  text-align: center;
  display: inline-block;
}

.rating-system-content {
  color: #000;
  text-align: center;
  width: 540px;
  max-width: calc(100vw - 20px);
}
.rating-system-content.thank-you .rsc__info-and-thank-you {
  display: block;
}
.rating-system-content.thank-you .rsc__form {
  display: none;
}

.rsc__info-and-thank-you {
  display: none;
}

.rsc__product-image {
  padding-bottom: 20px;
}
.rsc__product-image img {
  width: 200px;
  max-width: 100%;
}

.rsc__product-title {
  font-weight: 700;
  font-size: 18px;
}

.rsc__rating {
  display: flex;
  justify-content: space-between;
  transform: none !important;
}
@media (max-width: 560px) {
  .rsc__rating {
    flex-wrap: wrap;
  }
}
@media (max-width: 560px) {
  .rsc__rating li {
    width: 30%;
  }
}
.rsc__rating li:nth-child(1) label:before {
  background-image: url("img/rate-0.png");
}
.rsc__rating li:nth-child(2) label:before {
  background-image: url("img/rate-1.png");
}
.rsc__rating li:nth-child(3) label:before {
  background-image: url("img/rate-2.png");
}
.rsc__rating li:nth-child(4) label:before {
  background-image: url("img/rate-3.png");
}
.rsc__rating li:nth-child(5) label:before {
  background-image: url("img/rate-4.png");
}
.rsc__rating li:nth-child(6) label:before {
  background-image: url("img/rate-5.png");
}
.rsc__rating input {
  display: none;
}
.rsc__rating input:checked + label {
  border-color: #d73e1f;
}
.rsc__rating input:checked + label span {
  position: relative;
}
.rsc__rating input:checked + label span:after {
  content: '';
  position: absolute;
  top: -10px;
  left: -20px;
  display: block;
  width: 30px;
  height: 30px;
  mask-image: url("img/checkmark.svg");
  mask-size: 100% auto;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: green;
}
.rsc__rating label {
  cursor: pointer;
  display: block;
  position: relative;
  font-weight: bold;
}
.rsc__rating label:before {
  content: '';
  display: block;
  width: 50px;
  height: 75px;
  background-image: url("img/rate-5.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
  margin-left: auto;
  margin-right: auto;
}
.rsc__rating label span {
  padding-top: 13px;
  display: block;
  padding-bottom: 10px;
}
.rsc__rating label.selected-rating {
  color: #ff4949;
}

.rsc__heading {
  margin-top: 20px;
  margin-bottom: 20px;
}

button.btn-submit-rating {
  background-color: #d73e1f;
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 25px;
  min-width: 100px;
}
button.btn-submit-rating.loading {
  position: relative;
  font-size: 0;
}
button.btn-submit-rating.loading:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  background-image: url("img/loader.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
button.btn-submit-rating:disabled {
  opacity: 0.5;
  cursor: auto;
}
button.btn-submit-rating:not(:disabled):hover {
  background-color: #ff4949;
}

.rsc__error {
  font-size: 14px;
  color: red;
}

.rsc__hint {
  font-size: 14px;
}

.rsc__thank-you-message {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  color: green;
}

.rsc__average-rating {
  font-family: "Work Sans", "San Francisco", sans-serif;
  font-size: 16px;
  line-height: 1;
}
.rsc__average-rating.short .rsc__average-rating__rating:before {
  width: 30px;
  height: 30px;
}
.rsc__average-rating.short .rsc__average-rating__rating[data-rating="5"]:before {
  height: 45px;
}
.rsc__average-rating.short .rsc__average-rating__rating span:nth-child(1) {
  font-size: 24px;
}
.rsc__average-rating.short .rsc__average-rating__rating span:nth-child(2) {
  font-size: 16px;
}

.rsc__average-rating__rating {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.rsc__average-rating__rating[data-rating="0"]:before {
  background-image: url("img/rate-0.png");
}
.rsc__average-rating__rating[data-rating="1"]:before {
  background-image: url("img/rate-1.png");
}
.rsc__average-rating__rating[data-rating="2"]:before {
  background-image: url("img/rate-2.png");
}
.rsc__average-rating__rating[data-rating="3"]:before {
  background-image: url("img/rate-3.png");
}
.rsc__average-rating__rating[data-rating="4"]:before {
  background-image: url("img/rate-4.png");
}
.rsc__average-rating__rating[data-rating="5"]:before {
  background-image: url("img/rate-5.png");
}
.rsc__average-rating__rating:before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("img/rate-5.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
}
.rsc__average-rating__rating[data-rating="5"]:before {
  height: 75px;
}
.rsc__average-rating__rating span:nth-child(1) {
  display: block;
  font-size: 48px;
  line-height: 1;
  margin-left: 10px;
}
.rsc__average-rating__rating span:nth-child(2) {
  font-size: 30px;
  line-height: 1;
}
.rsc__average-rating__rating span:nth-child(3) {
  margin-left: 8px;
}

li.rsc__rating__option {
  list-style-type: none;
}

.rsc__text-apd-meter {
  font-weight: 700;
  margin-top: 10px;
}

.rsc__average-rating__help-text span {
  font-weight: 700;
}

.single-product .rsc__average-rating-wrapper {
  margin-top: 30px;
}
.single-product .rsc__average-rating__rating {
  justify-content: left;
  margin-bottom: 10px;
}
.single-product .rsc__average-rating__help-text {
  margin-bottom: 15px;
}

.archive .rsc__average-rating {
  margin-bottom: 20px;
}
.archive .rsc__average-rating__rating {
  justify-content: left;
}

.shop-carusel .carusel-wrapper ul li.top-rated:before {
  content: '';
  display: block;
  width: 30px;
  height: 45px;
  background-image: url("img/rate-5.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
  position: absolute;
  top: -15px;
  left: 0;
}

/*# sourceMappingURL=rating.css.map */
